<style>
.field {
  padding: 5px;
  width: 500px;
}

</style>
<div class = 'row'>
<h2>Sign up</h2>
<header id="header">
  <%= render 'shared/menu' %>
</header>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<h4>email</h4>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <%= @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :school %><br/>
    <%= f.text_field :school, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :age %><br/>
    <%= f.text_field :age, autofocus: true, style: '' %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
